<div class="flex h-12 flex-none shadow-md justify-end items-center px-4">
  <%= helpers.component 'button', text: 'Log out', type: :button, url: destroy_admin_user_session_path, method: :delete %>
</div>
